<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>DM</title>
</head>

<body>
    <h2>デュエル・マスターズTCG商品一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>商品コード</th>
            <th>商品名</th>
        </tr>
        <% let number=0 %>
            <% for( let row of data ) { %>
                <tr>
                    <td>
                        <%= row.id %>
                    </td>
                    <td>
                        <%= row.code %>
                    </td>
                    <td><a href="/dm/<%= number %>">
                        <%= row.name %>
                        </a>
                    </td>
                </tr>
                <% number +=1 %>
                    <% } %>
    </table>
    <button onclick="location.href='/dm/create'">新商品登録</button>
</body>

</html>